@import-nomralize;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');

*{
  box-sizing: border-box;
}

:root{
  --family:"Raleway",  sans-serif;
  --fs-sm:16px;
  --fs-md:18px;
  --fw-normal:400;
  --fw-ligth:300;
  --fw-dark:700;
  --fw-medium:500;
  --fw-bold:600;
  --color-text:#1D1F22

}

body{
  margin: 0;
  font-family: var(--family);
  color: var(--color-text);

}